body {  
  background-position: center;
  background: #12344d;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
  font-size: 2em;
  font-family: 'Gemunu Libre', sans-serif;
}

.grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 80vh 10vh;

  grid-template-areas:
  "header header header header" 
  "FAQ FAQ helpdesk helpdesk"
  "footer footer footer footer"
  ;
}

.grid-faq  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 80vh 10vh;

  grid-template-areas:
  "header header header header" 
  "FAQ FAQ FAQ FAQ"
  "footer footer footer footer"
  ;
}

.header {
  background-color: rgba(255, 255, 255, 0.7);
  grid-area: header;
  text-align: center;
}

.FAQ {
  grid-area: FAQ;
  text-align: center;
  transition: 0.7s;
}

.FAQ:hover {
  background: rgba(255, 255, 255, 0.3);
}

.helpdesk {
  grid-area: helpdesk;
  text-align: center;
  transition: 0.7s;
}

.helpdesk:hover {
  background: rgba(255, 255, 255, 0.3);
}

.footer{
  background-color: rgba(255, 255, 255, 0.7);
  grid-area: footer;
  text-align: center;
}

.links {
  padding: 25%;
}

a{
  color: black;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 600;
}

p {
  opacity: 100%;
}