//#12344D
//#CDEBC4
//#0E2A3E
//#EBEFF3
//#74828D
//#38556A

$light: #f7eade;
$accent-light: #a69cac;
$accent: #474973;
$accent-dark: #161b33;
$dark: #0d0c1d; // Deep navy blue

$background: #EBEFF3;
$accent-mint: #dbffd0;
$accent-hover: #CDEBC4;
$questions-color: #0e0e6c;
$answer-color: #1f0b52;
$link-active: #d53980;


//#145786
//#12344d

$card-width: 15em;
body {
  background: $background center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
}

.grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 65vh 5vh 15vh;

  grid-template-areas:
  "header header header" 
  "FAQ helpdesk freshdesk"
  "main main main"
  "footer footer footer"
  ;
}

.grid-faq  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 
  15vh
  auto
  ;

  grid-template-areas:
  "header header header header header header header"
  "menu FAQ FAQ FAQ FAQ FAQ FAQ"
  ;
}

.header {
  padding: 1em;
  background-color: $accent-mint;
  grid-area: header;
  text-align: center;
  font-size: 2em;
  transition: 0.7s;
  color: black;
  box-shadow: $dark 0 0 1.5rem;
  z-index: 1;
}

.FAQ {
  grid-area: FAQ;
  text-align: center;
  transition: 0.7s;
}

.FAQ:hover {
  background: rgba($accent-hover, 0.5);
}

.helpdesk {
  grid-area: helpdesk;
  text-align: center;
  transition: 0.7s;
}

.helpdesk:hover {
  background: rgba($accent-hover, 0.5);
}

.freshdesk {
  grid-area: freshdesk;
  text-align: center;
  transition: 0.7s;
}

.freshdesk:hover {
  background: rgba($accent-hover, 0.5 );
}

.main {
  grid-area: main;
  text-align: center;
  color: black;
  font-size: 2em;
}

.footer{
  background-color: $accent-mint;
  grid-area: footer;
  text-align: center;
  font-size: 2em
}

.links {
  padding: 25%;

  a
  {
    color: black;
    font-size: 3em;
    text-decoration: none;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 600;
  }
}

p {
  opacity: 100%;
}
// TODO: make the menu look good
#menu
{
  grid-area: menu;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #FFFFFF;
  border-top: 3px solid $questions-color;
  padding: 2rem;
  text-align: center;
  height: 300px;
  top: 0;
  box-shadow: $dark 0 0 1rem;
  z-index: 0;

  a
  {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    color: black;
    &:hover
    {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
    &:active
    {//TODO: spørre om hjelp å velge farge
      color: $link-active;
    }
  }

}

#FAQ { // shamelessly stolen from https://help.yessness.com/faq/
  grid-area: FAQ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  text-align: center;

  h3
  {
      position: relative; // Relative makes the shadow on top of the next element
      background: $questions-color;
      padding: 1rem;
      margin: 0 auto;
      opacity: 0;
      max-width: max-content;
      border-radius: .5rem;
      box-shadow: $dark 0 0 1rem;
      user-select: none;
      cursor: pointer;
      transition: 300ms ease;
      font-size: 1.5rem;
      color: #FFFFFF;
  
      &::before
      {
          content: "Q: ";
          font-weight: 100;
          color: $accent-light;
          font-size: 1.5rem;
      }
  }

  p
  {
    position: relative;
    background: $answer-color;
    padding: 1rem;
    margin: 0 auto;
    width: max-content; //makes the background net extend more than the text
    z-index: -1;
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(-100%);
    transition: .3s ease;
    color: #FFFFFF;

    &::before
    {
      content: "A: ";
      font-weight: 100;
      color: $accent-light;
      font-size: 1.5rem;
    }
  }
  a
  {
    font-size: 1.5em;
  }
}

//Henrik is cool