* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Vollkorn', Arial, serif;
    font-size: 1em;
}

body {
  background-image: url("windows_xp_wallpaper.jpg");
}

.header {
  color: red;
}

.grid-index {
  display: grid;
  min-height: 85vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas: 
  ". fuck helpdesk ."
  ". fuck helpdesk ."
  ". fuck helpdesk ."
  ;
}

.FAQ {
  grid-area: fuck;
  text-align: center;
}

.helpdesk {
  grid-area: helpdesk;
  text-align: center;
  }


.footer{
  background-color: black;
  text-align: center;
  color: white;
  height: 100px;
}
