//#12344D
//#CDEBC4
//#0E2A3E
//#EBEFF3
//#74828D
//#38556A

$light: #f7eade;
$accent-light: #a69cac;
$accent: #474973;
$accent-dark: #161b33;
$dark: #0d0c1d; // Deep navy blue

//#145786
//#12344d

$card-width: 15em;
body {  
  background-position: center;
  background: #EBEFF3;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
  font-family: 'Gemunu Libre', sans-serif;
}

.grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 300px 1fr 100px;

  grid-template-areas:
  "header header header" 
  "FAQ helpdesk freshdesk"
  "main main main"
  "footer footer footer"
  ;
}

.grid-faq  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 
  15vh 
  85vh
  ;

  grid-template-areas:
  "header header header header header" 
  "menu FAQ FAQ FAQ FAQ"
  ;
}

.header {
  padding: 1em;
  background-color: #dbffd0;
  grid-area: header;
  text-align: center;
  font-size: 2em;
  transition: 0.7s;
  color: black;
  box-shadow: $dark 0 0 2rem;
}

.FAQ {
  grid-area: FAQ;
  text-align: center;
  transition: 0.7s;
}

.FAQ:hover {
  background: rgba(#CDEBC4, 0.5);
}

.helpdesk {
  grid-area: helpdesk;
  text-align: center;
  transition: 0.7s;
}

.helpdesk:hover {
  background: rgba(#CDEBC4, 0.5);
}

.freshdesk {
  grid-area: freshdesk;
  text-align: center;
  transition: 0.7s;
}

.freshdesk:hover {
  background: rgba(#CDEBC4, 0.5 );
}

.main {
  grid-area: main;
  text-align: center;
  color: black;
  font-size: 2em;
}

.footer{
  background-color: #dbffd0;
  grid-area: footer;
  text-align: center;
  font-size: 2em
}

.links {
  padding: 25%;

  a
  {
    color: black;
    font-size: 3em;
    text-decoration: none;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 600;
  }
}

p {
  opacity: 100%;
}

#FAQ { // shamelessly stolen from https://help.yessness.com/faq/
  grid-area: FAQ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  text-align: center;

  h3
  {
      position: relative; // Relative makes the shadow on top of the next element
      background: #38556A;
      padding: 1rem;
      margin: 0 auto;
      opacity: 0;
      max-width: max-content;
      border-radius: .5rem;
      box-shadow: $dark 0 0 2rem;
      user-select: none;
      cursor: pointer;
      transition: 300ms ease;
      font-size: 1.5rem;
  
      &::before
      {
          content: "Q: ";
          font-weight: 100;
          color: $accent-light;
          font-size: 1.5rem;
      }
  }

  p
  {
    position: relative;
    background: #0F1943 ;
    padding: 1rem;
    margin: 0 auto;
    width: max-content; //makes the background net extend more than the text
    z-index: -1;
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(-100%);
    transition: .3s ease;

    &::before
    {
      content: "A: ";
      font-weight: 100;
      color: $accent-light;
      font-size: 1.5rem;
    }
  }
  a
  {
    color: $accent;
    font-size: 1.5em;
  }
}